/* for search-restaurant-carousel */
.swiper-button-prev, .swiper-button-next {
    color: #e95420;
    font-weight: bold;
}

/* for rx-card */
.wd-rx-card-width {
    width: 30rem;
}

.wd-like-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 50%; 
    font-size: 16px;
    color: #e95420;
    display: inline-flex;
    width: 32px; 
    height: 32px;
    justify-content: center;
    align-items: center; 
}