/* for search-restaurant-carousel */
.swiper-button-prev, .swiper-button-next {
    color: #e95420;
    font-weight: bold;
}

/* for rx-card */

.wd-rx-card-width {
    width: 30rem;
}

.wd-rx-card-text {
    font-size: 1rem;
}

.wd-like-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(245, 245, 245, 0.8); /* set the background color with an alpha value */
    border-radius: 50%; 
    font-size: 16px;
    color: #e95420;
    display: inline-flex; /* use inline-flex to allow vertical centering of the heart icon */
    width: 32px; /* set a fixed width for the circle */
    height: 32px; /* set a fixed height for the circle */
    justify-content: center; /* horizontally center the heart icon */
    align-items: center; /* vertically center the heart icon */
}

.wd-rx-name {
    font-size: 2rem;
}

.badge {
    font-size: 1rem;
    margin-right: 0.5em;
}